* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 92%;
  max-width: 420px;
  padding: 25px;
  background: #1c1c1c;
  border-radius: 18px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
}

#locationText {
  margin-top: 15px;
  color: #f1c40f;
}

#coords {
  margin-top: 10px;
  color: #ccc;
  font-size: 16px;
}
/* Google Maps Button */
.map-btn {
  margin-top: 10px;
  background: #2ecc71;
  color: black;
}